.page {
  background-image: url("../../images/BackGroundImage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.no-bg {
  background-image: none;
}
